/* Your styles goes here. */
.layout-container {
  display: flex; /* Располагаем элементы в строку */
  height: 100vh; /* Высота контейнера на всю страницу */
  gap: 1rem; /* Отступ между Sidebar и MainContent */
}

.sidebar {
  width: 30%; /* Задаем ширину сайдбара */
  max-width: 300px; /* Ограничиваем максимальную ширину */
  min-width: 250px; /* Ограничиваем минимальную ширину */
  height: 100%; /* Растягиваем на всю высоту */
  overflow-y: auto; /* Добавляем прокрутку */
}

.main-component {
  flex-grow: 1; /* Занимает оставшееся пространство */
  padding: 1rem;
  border-radius: 15px;
  background-color: #f9f9f9;
  border: 2px solid rgb(29, 30, 78);
}
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column; /* Переводим элементы в колонку */
  }

  .sidebar {
    width: 100%; /* Сайдбар занимает всю ширину */
  }

  .main-component {
    width: 100%; /* Контент занимает всю ширину */
  }
}

