/* Основной контейнер */
.sidebar-container {
  width: 40%;
  max-width: none;
  padding: 1rem;
  border-radius: 15px;
  height: 100%;
  overflow-y: auto;
}

.sidebar-buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sidebar-action-button {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(29, 30, 78);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sidebar-action-button:hover {
  transform: translateY(-3px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar-search-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.sidebar-search-input {
  width: 80%;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  border: 2px solid rgb(29, 30, 78);
  font-size: 1rem;
}

.sidebar-search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.sidebar-list {
  height: 500px;
  overflow-y: auto;
  border-radius: 15px;
  scrollbar-width: thin;
  scrollbar-color: rgb(29, 30, 78) rgba(0, 0, 0, 0.1);
}

.sidebar-scroll-panel {
  max-height: 100%;
  overflow-y: auto;
}

.sidebar-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
  background-color: #ffffff;
  border: 2px solid rgb(29, 30, 78);
  transition: background-color 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: rgba(29, 30, 78, 0.1);
}

.sidebar-list-item-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(29, 30, 78);
}

.sidebar-list-item-button {
  background-color: rgb(11, 115, 114);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Настройка скроллбара */
.sidebar-list::-webkit-scrollbar {
  width: 8px;
}

.sidebar-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

.sidebar-list::-webkit-scrollbar-thumb {
  background-color: rgb(29, 30, 78);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    max-width: none;
  }

  .sidebar-buttons-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
}
