.sidebar {
  width: 40%; /* Ширина 50% экрана */
  max-width: none; /* Убираем ограничения по ширине */
  padding: 1rem;
  border-radius: 15px;
  height: 100%; /* Растягиваем по высоте */
  overflow-y: auto; /* Добавляем прокрутку */
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.action-button {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(29, 30, 78);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.action-button:hover {
  transform: translateY(-3px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.search-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.search-input-sidebar {
  width: 80%;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  border: 2px solid rgb(29, 30, 78);
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.list {
  height: 500px; /* Ограничиваем высоту списка */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
  border-radius: 15px;
  scrollbar-width: thin; /* CSS для настройки скроллбара */
  border: 0;
  scrollbar-color: rgb(29, 30, 78) rgba(0, 0, 0, 0.1);
}

.scroll-panel {
  max-height: 100%;
  overflow-y: auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
  background-color: #ffffff;
  border: 2px solid rgb(29, 30, 78);
  transition: background-color 0.3s ease;
}

.list-item:hover {
  background-color: rgba(29, 30, 78, 0.1);
}

.list-item-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(29, 30, 78);
}

.list-item-button {
  background-color: rgb(11, 115, 114);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Настройка скроллбара */
.list::-webkit-scrollbar {
  width: 8px; /* Ширина полосы прокрутки */
}


.list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent; /* Делаем трек (поле) полностью прозрачным */
}

.list::-webkit-scrollbar-thumb {
  background-color: rgb(29, 30, 78); /* Цвет полосы прокрутки */
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1); /* Граница полосы */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* На маленьких экранах sidebar занимает всю ширину */
    max-width: none;
  }

  .buttons-wrapper {
    flex-direction: column; /* Перенос кнопок в колонку */
    gap: 0.5rem;
  }
}
